<!-- =======FOOTER====== -->
<footer class="page-footer">
    <div class="footer-conteiner container">
        <nav class="nav-footer">
            <ul class="nav-menu-footer">
                <div class="first-colum">
                    <li class="nav-menu-list"><a class="nav-list" href="#about-us"></a>About us</li>
                    <li class="nav-menu-list">
                        <a class="nav-list" href="#our-collection"></a>Our collection
                    </li>
                </div>
                <div class="second-colum">
                    <li class="nav-menu-list">
                        <a class="nav-list" href="#customer-order"></a>Customer order
                    </li>
                    <li class="nav-menu-list">
                        <a class="nav-list" href="#testimonials"></a>Testimonials
                    </li>
                </div>

            </ul>
        </nav>
        <p class="text-footer">A touch of <span class="text-accent"> Ukrainian </span> culture in every embroidery</p>
    </div>
</footer>