<footer class="page-footer">
  <div class="footer-conteiner container">
    <nav class="nav-footer">
      <ul class="nav-menu-footer">
        <div class="first-colum">
          <li class="nav-menu-list">
            <a class="nav-list smooth-scroll" href="#about-us">About us</a>
          </li>
          <li class="nav-menu-list">
            <a class="nav-list smooth-scroll" href="#our-collection"
              >Our collection</a
            >
          </li>
        </div>
        <div class="second-colum">
            <li class="nav-menu-list">
                <a class="nav-list smooth-scroll" href="#customer-order">Customer order</a>
            </li>
            <li class="nav-menu-list">
                <a class="nav-list smooth-scroll" href="#testimonials">Testimonials</a>
            </li>
        </div>
      </ul>
    </nav>
    <p class="text-footer">
      A touch of <span class="text-accent"> Ukrainian </span> culture in every
      embroidery
    </p>
  </div>
</footer>
